@import "tailwindcss";





@layer utilities {
  .outer-container{
    max-width: 1440px;
    margin: 0 auto;
  }

  .inner-container {
    max-width: 90%;
    margin: 0 auto;
  }

}


/* .hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oo{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: #FFFFFF;
  background:linear-gradient(to bottom right, #0A2463, #039DD1);
}

.cloro-me{
  display: flex;
  width: 44px;
} */